* {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  position: relative;
  margin: 25px;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 14px;
}

header {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

#logo {
  float: left;
}

#logo img {
  height: 70px;
}
.empresa{
  display: flex;
  flex-direction: column;
}
.empresa .emp_razon{
  margin-left: 20px;
}
.empresa .empresa_cont{
  float: right;
}
.empresa .empresa_cont h3{
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  font-size: 1.6em;
}

#chartimg {
  text-align: center;
  width: 100%;
}
#chartimg h3{
  font-size: 1.3em;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#chartimg img{
  max-width: 100%;
  height: auto;
  margin: 5px;
}

h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}